In [1]:
import os
import re
import numpy
from pprint import pprint
import pandas
import matplotlib.pyplot as plt

pandas.set_option("display.max_colwidth", 50)

In [2]:
dispatchFile = "textList.csv"
dispatch = pandas.read_csv(dispatchFile, sep="\t", header=0)

In [6]:
dispatch

            month                                               text
0      1864-04-01  the news.;;; yesterday was an unusual dull day...
1      1864-04-01  yankee rule in plymouth.;;; the following orde...
2      1864-04-01  list of members of the next house of represent...
3      1864-04-01  provisions at the south.;;; --the mobile adver...
4      1864-04-01  impressive ceremony at dalton.;;; --a most int...
...           ...                                                ...
129847 1864-03-01  two hundred dollars reward;;; --will be paid f...
129848 1864-03-01  runaway;;; --from "our house," saturday, 19th ...
129849 1864-03-01  runaway;;; -- $100 reward will be paid for the...
129850 1864-03-01                         auction sales -- this day.
129851 1864-03-01                                notices of indebted

[129852 rows x 2 columns]

In [3]:
dispatch["month"] = [re.sub("-\d\d$", "-01", str(i)) for i in dispatch["date"]]
# convert into date format
dispatch["month"] = pandas.to_datetime(dispatch["month"], format="%Y-%m-%d")
dispatch["date"] = pandas.to_datetime(dispatch["date"], format="%Y-%m-%d")

# reorder columns
dispatch = dispatch[["month", "text"]]

In [7]:
dispatch

            month                                               text
0      1864-04-01  the news.;;; yesterday was an unusual dull day...
1      1864-04-01  yankee rule in plymouth.;;; the following orde...
2      1864-04-01  list of members of the next house of represent...
3      1864-04-01  provisions at the south.;;; --the mobile adver...
4      1864-04-01  impressive ceremony at dalton.;;; --a most int...
...           ...                                                ...
129847 1864-03-01  two hundred dollars reward;;; --will be paid f...
129848 1864-03-01  runaway;;; --from "our house," saturday, 19th ...
129849 1864-03-01  runaway;;; -- $100 reward will be paid for the...
129850 1864-03-01                         auction sales -- this day.
129851 1864-03-01                                notices of indebted

[129852 rows x 2 columns]

In [10]:
var = "\bdeserters?|killed|wounded\b"

result = dispatch[dispatch["text"].str.contains(var, regex = True)]
result = result.reset_index()

'''
result['occur'] = result["text"].str.count(var)
result = result[["month", "occur"]]


aggregation = {"occur":"sum"}
result = result.groupby(result['month']).aggregate(aggregation)
result = result.reset_index()
'''

'\nresult[\'occur\'] = result["text"].str.count(var)\nresult = result[["month", "occur"]]\n\n\naggregation = {"occur":"sum"}\nresult = result.groupby(result[\'month\']).aggregate(aggregation)\nresult = result.reset_index()\n'

result.head(10)